*{
  box-sizing: border-box;
}
body{ 
  font-family: Arial, Helvetica, sans-serif;
  margin: 1%;
}
h1{
  text-align: center;
  color:  #0d1a00;
  font-size: 50px;
  font-weight: bold;
}
.description{
  font-size: 20px;
  padding: 15px;
  margin: 0;
  clear: right; 
}
.dish{
  color: #000000;
  border: 1px solid black;
  font-size: 25px;
  border-top: 0;
  border-right: 0;
  width: 200px;
  float: right;
  margin: 0;
  text-align: center;
  font-weight: bold;
}
.box{
  background-color: #b3b3b3;
  float: left;
  margin: 1%;
  width: 31.3333%;
  border: 1px solid black;
}
#chicken > h2{
  background-color: #c6538c;
}
#beef > h2{
  background-color: #ac3939;
}
#sushi > h2{
  background-color: #00ff00;
}

@media screen and (max-width:767px ) {

  .box{
    width: 98%;
    margin-bottom: 2%;
  }
}
@media  screen and (min-width:768px) and (max-width: 991px) {
  #chicken{
    width: 48%;
  }
  #beef{
    width: 48%;
  }
  #sushi{
    width: 98%;
    margin-top: 1%;
  }
}